bin 
obj 
publish 

data

customerbackend
src/frontend/customer/blazor
src/frontend/customer/wpf
src/frontend/courier/blazor
src/frontend/courier/wpf
src/frontend/kitchen/blazor
src/frontend/kitchen/wpf
src/frontend/warehouse/blazor
src/frontend/warehouse/wpf
src/frontend/admin/blazor
src/frontend/admin/wpf

docs/spreadsheets/.~lock.processes.ods#
